<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cafedroid.android.devconnect">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:name=".DevConnectApp"
            android:icon="@mipmap/devc_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/devc_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https" android:host="admiring-snyder-dead31.netlify.com" android:pathPrefix="/team"/>
                <data android:scheme="https" android:host="admiring-snyder-dead31.netlify.com" android:pathPrefix="/invite"/>
            </intent-filter>
        </activity>
        <activity android:name=".AuthActivity" android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https" android:host="admiring-snyder-dead31.netlify.com" android:path="/auth/github"/>
            </intent-filter>
        </activity>
    </application>

</manifest>